/* Upload ảnh */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  
.imageUpload {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .previewImages {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .previewImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }